<p>
  <strong>Mg dl:</strong>
  <%= @bg_measurement.mg_dl %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bg_measurement.notes %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @bg_measurement.user.name %>
</p>

<%= link_to 'Go to Chart', bg_measurements_path, :class => "button small round success" %>
